@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'IRANYekanWebBold';
  src: url('/fonts/IRANYekanWebBold.woff2') format('woff2'),
       url('/fonts/IRANYekanWebBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* سایر استایل‌های عمومی */
body {
  font-family: 'IRANYekanWebBold', sans-serif;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-light-important {
  font-weight: 300 !important;
}



