@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'iranyekanwebbold'; /* نام فونت */
  src: url('/fonts/font-file.woff2') format('woff2'),
       url('/fonts/font-file.woff') format('woff');
  font-weight: normal; /* یا bold */
  font-style: normal; /* یا italic */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

