@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background-color: white !important;
  color-scheme: light !important;
}

@font-face {
  font-family: 'IRANYekanWebBold';
  src: url('/fonts/IRANYekanWebBold.woff2') format('woff2'),
       url('/fonts/IRANYekanWebBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranNastaliq';
  src: url('/fonts/IranNastaliq.woff2') format('woff2'),
       url('/fonts/IranNastaliq.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* سایر استایل‌های عمومی */
body {
  font-family: 'IRANYekanWebBold', Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}

/* کلاس اختصاصی برای IranNastaliq */
.font-IranNastaliq {
  font-family: 'IranNastaliq', serif !important;
}

@font-face {
  font-family: 'B Zar';
  src: url('/fonts/BZar-Bold.woff2') format('woff2'),
       url('/fonts/BZar-Bold.woff') format('woff');
  font-weight: bold; /* تعیین وزن فونت به عنوان Bold */
  font-style: normal;
  font-display: swap;
}

.font-light-important {
  font-weight: 300 !important;
}
